# 5.1 More on Lists

**We have learned List type.**

**Today, we explore list type as a data structure.** 

**First, I'll show you an example using a method of list objects.**

### append(x)
**You can add an item to the end of the list.**

In [20]:
fruits = ["apple", "banana", "pineapple"]
fruits.append("peach")
fruits

['apple', 'banana', 'pineapple', 'peach']

### extend(iterable)
**You can add an iterable item such as list and tuple to the end of list**

In [24]:
fruits = ["apple", "banana", "pineapple"]

# fruits2 = ["grape", "mango", "strawberry"]
# fruits2 = ("grape", "mango", "strawberry")
fruits2 = {1: "grape", 2:"mango", 3:"strawberry"}

# fruits.extend(fruits2)
fruits.extend(fruits2.values())
fruits

['apple', 'banana', 'pineapple', 'grape', 'mango', 'strawberry']

### insert(index, x)

**Insert an item at a given position by index.**

In [25]:
fruits = ["apple", "banana", "pineapple"]

fruits.insert(0, "peach")
fruits.insert(len(fruits), "grape")  
fruits

['peach', 'apple', 'banana', 'pineapple', 'grape']

### remove(x)
**Remove the first item from the list whose values is equal to x.**

In [26]:
fruits = ["apple", "banana", "pineapple"]
fruits.append("apple")
fruits.remove("apple")
fruits

['banana', 'pineapple', 'apple']

### pop([index]) [index]: optional
**Remove and return the item at the given position in the list. If index is not assigned, remove and return the item at the end of list**

In [5]:
fruits = ["apple", "banana", "pineapple"]
fruits.append("apple")
print(fruits.pop(0))
print(fruits)
print(fruits.pop())
print(fruits)

apple
['banana', 'pineapple', 'apple']
apple
['banana', 'pineapple']

### clear()
**Remove all items from the list**

In [27]:
fruits = ["apple", "banana", "pineapple"]
fruits.clear()
fruits

[]

### index(x, [, start[, end]]) start, end:optional
**Return zero-based index in the list of the first item whose value is equal to x.**

In [29]:
fruits = ["apple", "banana", "pineapple"]
# print(fruits.index("banana"))
print(fruits.index("banana", 2))# it goes to error

ValueError: 'banana' is not in list

### count(x)
**Return the number of times x appears in the list.**

In [31]:
fruits = ["apple", "banana", "pineapple"]
fruits.append("apple")
fruits.count("apple")

2

### sort()
**Sort the items of the list in place**

**Note: It has an arguments can be used for sort customization, go [sorted()](https://docs.python.org/3/library/functions.html#sorted) if you need.**

In [9]:
fruits = ["apple", "banana", "pineapple"]
fruits2 = ["grape", "mango", "strawberry"]
fruits.extend(fruits2)
fruits.sort()
fruits

['apple', 'banana', 'grape', 'mango', 'pineapple', 'strawberry']

### reverse()
**Reverse the elements of the list**

In [10]:
fruits = ["apple", "banana", "pineapple"]
fruits.reverse()
fruits

['pineapple', 'banana', 'apple']

### copy()
**Return a shallow copy of the list.**

In [34]:
fruits = ["apple", "banana", ["pineapple", "grape"]]
fruits2 = fruits.copy()
fruits2

['apple', 'banana', ['pineapple', 'grape']]

In [35]:
fruits[1]=1
fruits[2][0]=3
print(fruits, fruits2)

['apple', 1, [3, 'grape']] ['apple', 'banana', [3, 'grape']]

## 5.1.1. Using Lists as Stacks

**Stack: The last element added is the first element retrieved(LIFO)**

**The above methods make it easier to use a list as a stack.**

In [36]:
stack = [] # empty stack

# add to stack
stack.append(2)
stack.append(3)
stack.append(5)
stack.append(6)

print("after append: ", stack)

# pop from stack

stack.pop()

print("after pop: ", stack)

after append:  [2, 3, 5, 6]
after pop:  [2, 3, 5]

## 5.1.2 Using Lists as Queues

**Queue: The first element added is the first element retrieved(FIFO)**

**To implement a queue, use [collections.deque](https://docs.python.org/3/library/collections.html#collections.deque) which was designed to have fast appends and pops from both ends.**

In [37]:
from collections import deque
queue = deque([])

queue.append(1)
queue.append(2)
queue.append(3)
queue.append(5)

print("after append: ", queue)

queue.popleft()
print("after pop: ", queue)

after append:  deque([1, 2, 3, 5])
after pop:  deque([2, 3, 5])

## 5.1.3. List Comprehensions

**List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition**

In [38]:
# naive way to create a list of squares
squares = []
for i in range(10):
    squares.append(i**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [39]:
# list comprehensions
squares = [i**2 for i in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

**Also, you can use list comprehension like containing for or if**

In [40]:
# Cartesian product
[(x, y) for x in ["a", "b", "c"] for y in ["d", "e"]]

[('a', 'd'), ('a', 'e'), ('b', 'd'), ('b', 'e'), ('c', 'd'), ('c', 'e')]

In [18]:
# naive 
cartesian = []
for x in ["a", "b", "c"]:
    for y in ["d", "e"]:
        cartesian.append((x, y))
cartesian

[('a', 'd'), ('a', 'e'), ('b', 'd'), ('b', 'e'), ('c', 'd'), ('c', 'e')]

**the tuple must be parenthesized, or an error is raised**

In [41]:
[x, y for x in ["a", "b", "c"] for y in ["d", "e"]]

SyntaxError: did you forget parentheses around the comprehension target? (3974538884.py, line 1)

In [42]:
fruits = ["apple", "banana", "pineapple"]

[len(f) for f in fruits]

[5, 6, 9]

In [43]:
fruits = ["     ap ple", "b a n a n a", "pine ap ple"]
[f.replace(" ", "") for f in fruits]

['apple', 'banana', 'pineapple']

In [47]:
from math import pi

# round(a, i) rounded and displayed to the i-th decimal place 
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

## 5.1.4. Nested List Comprehensions
**The initial expression in a list comprehension can be any arbitrary expression, including another list comprehension.**

In [49]:
# 3x4 matrix
matrix = [
    [3, 4, 5, 6],
    [9, 8, 7, 6],
    [5, 4, 8, 7],
]

In [51]:
# transepose rows and columns 
[[r[i] for r in matrix] for i in range(4)]

[[3, 9, 5], [4, 8, 4], [5, 7, 8], [6, 6, 7]]

In [50]:
# convert the above code to the naive for clause. it is too long...
transposed = []
for i in range(4):
    tr = []
    for r in matrix:
        tr.append(r[i])
    transposed.append(tr)
transposed

[[3, 9, 5], [4, 8, 4], [5, 7, 8], [6, 6, 7]]